/* styles.css */
/* Basic styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 15px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Responsive navigation */
  @media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
    }
  
    .navbar ul li {
      margin-bottom: 10px;
    }
  }
  .content {
    margin-top: 60px;
    padding: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.contact-info h1 {
    text-align: center;
}

.contact-info p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info .email {
    font-weight: bold;
}

.contact-info .phone {
    text-decoration: underline;
}
